<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Package source {0}1" value="https://api.bintray.com/nuget/eventuateio-oss/eventuateio-dotnet-snapshots" />
  </packageSources>
</configuration>